<app-my-header name="Залікова робота"></app-my-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title size="large">Завдання</ion-title>
      <p>Задано масив координат точок X[N,2]. Cеред його елементів знайти точки, які належать кругу заданого радіуса,
        побудованого з центра координат.
        Якщо точка належить колу то зафорбовується у зелений колір, якщо ні то у червоний.
      </p>
    </ion-card-header>
    <app-view-form></app-view-form>
  </ion-card>
</ion-content>
