<form [formGroup]="circleAndPointsForm" (ngSubmit)="onSubmit()">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Користувач</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Кількість точок N</ion-label>
        <ion-input id="N" type="number" formControlName="N"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Радіус кола R</ion-label>
        <ion-input id="R" type="number" formControlName="R"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button type="submit" color="my-color" expand="block" fill="outline" [disabled]="!circleAndPointsForm.valid">
    Submit
  </ion-button>
</form>
